*{
    padding: 0;
    margin: 0;
}
header , footer{
    display: flex;
    justify-content: space-around;
    background-color: red;
    color: white;
    align-items: center;
    height: 10vh;

}
.menu{
    display: flex;
    width: 700px;
    justify-content: space-around;
}
.naavlink{
    text-decoration: none;
    color: white;
    padding: 10px;

}
.naavlink:hover , .naavlink.active{
    font-weight: bold;
    border-bottom: solid 2px white;    
}
main{
    background-color: blue;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
